html,body {
    width: 100%-11px;
    height: 100%-11px;
    padding: 0;
    margin: 10px;
    background: teal;
}

#pagina {
    width: 950px;
    height: 90%;
    text-align: justify;
    background: white;
    border-radius: 15px;
    padding: 15px;
}